<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customerService.css" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <!-- <div><a href="main.html">메인</a></div> -->
          <div><a href="lecture.html">교육</a></div>
          <!-- <div><a href="record.html">관리 및 기록</a></div> -->
          <!-- <div><a href="community.html">커뮤니티</a></div> -->
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html" class="checkLogin"></a></div>
        </div>
        <!-- <div class="login_box">로그인 / 회원가입</div> -->
      </div>
      <div class="heading">
        <div class="head_title">Customer Service</div>
        <div class="head_subtitle">홈 > 고객센터 > 공지사항</div>
      </div>
      <div class="content">
        <div class="content_menu">
          <div class="notice_btn">공지사항</div>
          <div class="qna_btn bold">Q&A</div>
        </div>
        <div class="content_body">
          <div class="content_body_title">
            <h1>공지사항</h1>
          </div>
          <!-- <div class="content_body_search">
            <select name="options" id="options">
              <option value="recent">최신순</option>
              <option value="relative">관련도순</option>
            </select>
            <input id="search_input" />
            <div class="search_btn">
              <i class="ti ti-search"></i>
            </div>
          </div> -->
          <table class="content_body_table">
            <thead>
              <tr>
                <th>No.</th>
                <th class="col">제목</th>
                <th>작성자</th>
                <th>날짜</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
          <div class="content_body_page">
            <div class="content_body_page_left">previous</div>
            <div class="content_body_page_num">
            </div>
            <div class="content_body_page_right">next</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal hidden">
      <div>제 목</div>
      <div class="modal_title"></div>
      <div>작성자</div>
      <div class="modal_writer"></div>
      <div>내 용</div>
      <div class="modal_text"></div>
      <div></div>
      <div class="modal_btn close_btn">CLOSE</div>
    </div>
    <div class="backdrop hidden"></div>
    <script src="/js/customerService.js"></script>
    <script src="/js/checkLogin.js"></script>
  </body>
</html>
