<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/lecture.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <title>Personal Training</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <!-- <div><a href="main.html">메인</a></div> -->
          <div><a href="lecture.html">교육</a></div>
          <!-- <div><a href="record.html">관리 및 기록</a></div> -->
          <!-- <div><a href="community.html">커뮤니티</a></div> -->
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html" class="checkLogin"></a></div>
        </div>
      </div>
      <div class="heading">
        <div class="head_title">Personal Training</div>
        <div class="head_subtitle">홈 > 교육</div>
      </div>
      <div class="content">
        <div class="content_menu">
          <div class="search_bar">
            <select name="searchTypeSelect" class="searchTypeSelect">
              <option value="강의명">강의명</option>
              <option value="강사명">강사명</option>
            </select>
            <input
              type="text"
              id="searchInput"
              placeholder="검색어를 입력하세요"
            />
            <button class="searchBtn cursor_pointer" id="searchButton">
              검색
            </button>
            <!-- <div class="cursor_pointer search_filter">필터</div> -->
            <!-- <div class="cursor_pointer search_filter_close hiden">필터</div>
           </div>
           <div class="search_box hiden">
            <div class="search_title">카테고리</div>
            <div class="search_detail_box">
              <input type="checkbox" name="interest" value="유산소" /> 유산소
              <input type="checkbox" name="interest" value="근력운동" />
              근력운동
              <input type="checkbox" name="interest" value="필라테스" />
              필라테스
              <input type="checkbox" name="interest" value="스트레칭" />
              스트레칭
              <input type="checkbox" name="interest" value="식단" /> 식단
            </div>
            <div class="search_line"></div>
            <div class="search_title">업로드 날짜</div>
            <div class="search_detail_box">
              <input type="radio" name="upload_date" value="전체" /> 전체
              <input type="radio" name="upload_date" value="오늘" /> 오늘
              <input type="radio" name="upload_date" value="이번 주" /> 이번 주
              <input type="radio" name="upload_date" value="이번 달" /> 이번 달
              <input type="radio" name="upload_date" value="올해" /> 올해
              <input type="radio" name="upload_date" value="직접 선택" /> 직접
              선택 <br />
              <div class="search_detail_flex">
                <div>시작일:</div>
                <input type="date" id="start-date" name="start-date" />
                <div></div>
                <div>종료일:</div>
                <input type="date" id="end-date" name="end-date" />
              </div>
            </div>
            <div class="search_line"></div>
            <div class="search_title">가격대</div>
            <div class="search_detail_box">
              <input type="radio" name="buy" value="전체" /> 전체
              <input type="radio" name="buy" value="구매" /> 구매
              <input type="radio" name="buy" value="미구매" /> 미구매
            </div>
            <div class="search_line"></div>
            <div class="search_title">가격대</div>
            <div class="search_detail_box">
              <input type="radio" name="price" value="전체" /> 전체
              <input type="radio" name="price" value="무료" /> 무료
              <input type="radio" name="price" value="1" /> 1개 이하
              <input type="radio" name="price" value="2" /> 2개 이하
              <input type="radio" name="price" value="3" /> 3개 이하
              <input type="radio" name="price" value="4" /> 4개 이하
              <input type="radio" name="price" value="5" /> 5개 이상
            </div>
            <div class="search_line"></div>
            <div class="search_title">정렬기준</div>
            <div class="search_detail_box">
              <input type="radio" name="order" value="최신순" /> 최신순
              <input type="radio" name="order" value="조회수" /> 조회수
              <input type="radio" name="order" value="평점" /> 평점순
              <input type="radio" name="order" value="리뷰" /> 리뷰수
              <input type="radio" name="order" value="가격" /> 낮은 가격순
            </div>
            <button class="searchBtn cursor_pointer" id="searchButton">
              검색
            </button>
           </div> -->
          </div>
        </div>
        <div class="content_body">
          <div class="interest_lecture" id="interestLectureSection">
            <h2 class="interestLectureTitle">맞춤 교육 영상</h2>
            <div class="content_body_interestLecture"></div>
          </div>
          <!-- <div class="instructor_section">
            <h2>강사 소개</h2>
            <div class="instructors">
              <div class="instructor">
                <div class="profile_pic">
                  <img src="profile_palceholder.png" />
                </div>
                <div class="name">Steve</div>
                <button class="notify_button">
                  <img
                    src="https://img.icons8.com/?size=100&id=LtAJg62rZRtw&format=png&color=000000"
                  />
                </button>
              </div>
              <div class="instructor">
                <div class="profile_pic">
                  <img src="profile_palceholder.png" />
                </div>
                <div class="name">Tom</div>
                <button class="notify_button">
                  <img
                    src="https://img.icons8.com/?size=100&id=LtAJg62rZRtw&format=png&color=000000"
                  />
                </button>
              </div>
              <div class="instructor">
                <div class="profile_pic">
                  <img src="profile_palceholder.png" />
                </div>
                <div class="name">NAME</div>
                <button class="notify_button">
                  <img
                    src="https://img.icons8.com/?size=100&id=LtAJg62rZRtw&format=png&color=000000"
                  />
                </button>
              </div>
            </div>
          </div> -->
          <div class="related_videos_section hidden" id="relatedVideosSection">
            <!-- <h2>관련 추천 영상</h2> -->
            <div class="related_videos"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/checkLogin.js"></script>
    <script src="/js/lecture.js"></script>
  </body>
</html>
