<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/lecture.css" />
    <title>Personal Training</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <div><a href="main.html">메인</a></div>
          <div><a href="lecture.html">교육</a></div>
          <div><a href="record.html">관리 및 기록</a></div>
          <div><a href="community.html">커뮤니티</a></div>
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html">로그인</a></div>
        </div>
        <div class="login_box">로그인 / 회원가입</div>
      </div>
      <div class="heading">
        <div class="head_title">Personal Training</div>
        <div class="head_subtitle">홈 > 교육</div>
      </div>
      <div class="content">
        <div class="content_body">
          <div class="search_bar">
            <select name="lecture">
              <option value="lecture1">강의명</option>
              <option value="lecture1">강사명</option>
            </select>
            <input type="text" placeholder="검색어를 입력하세요" />
            <button type="submit">🔍</button>
          </div>
          <div class="video_section">
            <h2>맞춤 교육 영상</h2>
            <div class="videos">
              <div class="video">Video1</div>
              <div class="video">Video2</div>
              <div class="video">Video3</div>
            </div>
          </div>
          <div class="instructor_section">
            <h2>강사 소개</h2>
            <div class="instructors">
              <div class="instructor">
                <div class="profile_pic"></div>
                <div class="name">NAME</div>
              </div>
              <div class="instructor">
                <div class="profile_pic"></div>
                <div class="name">NAME</div>
              </div>
              <div class="instructor">
                <div class="profile_pic"></div>
                <div class="name">NAME</div>
              </div>
            </div>
          </div>
          <div class="related_videos_section">
            <h2>관련 추천 영상</h2>
            <div class="related_videos">
              <div class="related_video"></div>
              <div class="related_video"></div>
              <div class="related_video"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/lecture.js"></script>
  </body>
</html>
