<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <title>PTR</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <!-- <div><a href="main.html">메인</a></div> -->
          <div><a href="lecture.html">교육</a></div>
          <!-- <div><a href="record.html">관리 및 기록</a></div> -->
          <!-- <div><a href="community.html">커뮤니티</a></div> -->
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html" class="checkLogin"></a></div>
        </div>
      </div>
      <div class="heading">
        <div class="head_title">Login & SignUp</div>
        <div class="head_subtitle"></div>
      </div>
      <div class="content">
        <div class="content_body">
          <form id="loginForm">
            <h2>Personal Training Raise</h2>
            <input type="id" id="userId" placeholder="userId" required />
            <input
              type="password"
              id="password"
              placeholder="password"
              required
            />
            <button type="submit" id="loginBtn">LOGIN</button>
            <div class="social_login">
              <p>or continue with</p>
            </div>
          </form>
          <button id="signupButton" class="signup_button">SIGN UP</button>
          <div class="logout_box">
            <h2 class="logout_text"></h2>
            <button id="logoutButton" class="logoutButton">LOGOUT</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/login.js"></script>
  </body>
</html>
