<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <title>Personal Training Raise</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <!-- <div><a href="main.html">메인</a></div> -->
          <div><a href="lecture.html">교육</a></div>
          <!-- <div><a href="record.html">관리 및 기록</a></div> -->
          <!-- <div><a href="community.html">커뮤니티</a></div> -->
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html">로그인</a></div>
        </div>
        <div class="login_box"><a href="login.html">로그인 / 회원가입</a></div>
      </div>
      <div class="heading">
        <div class="head_title">Personal Training Raise</div>
        <div class="head_subtitle"></div>
      </div>
      
      <div class="content">
        <!-- <div class="search_container">
        <input type="text" placeholder="Search">
        <button>🔍</button>
        </div> -->
        <div class="content_body">
          <div class="content_section">
            <h2>실시간 교육 영상</h2>
            <div class="videos">
              <!-- <div class="video">Video1</div>
              <div class="video">Video2</div>
              <div class="video">Video3</div> -->
            </div>
          </div>
          <div class="content_section">
            <h2>피드 바로 보기</h2>
            <div class="feeds">
              <!-- <div class="feed"></div>
              <div class="feed"></div>
              <div class="feed"></div> -->
            </div>
          </div>
          <!-- <div class="content_section">
            <h2>공지사항</h2>
            <table>
              <tr>
                <th>No.</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
              </tr>
              <tr>
                <td>1</td>
                <th>공지사항 제목</th>
                <td>관리자</td>
                <td>2024-06-14</td>
              </tr>
              <tr>
                <td>2</td>
                <th></th>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div> -->
        </div>
      </div>
    <script src="/js/main.js"></script>
  </body>
</html>
