<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recordExercise.css" />
    <title>PTR</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <div><a href="main.html">메인</a></div>
          <div><a href="lecture.html">교육</a></div>
          <div><a href="record.html">관리 및 기록</a></div>
          <div><a href="community.html">커뮤니티</a></div>
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html">로그인</a></div>
        </div>
        <div class="login_box"><a href="login.html">로그인 / 회원가입</a></div>
      </div>
      <div class="heading">
        <div class="head_title">Management</div>
        <div class="head_subtitle">홈 > 관리 및 기록 > 운동</div>
      </div>
      <div class="content">
        <div class="content_menu">
          <div><a href="record.html">기록 및 통계</a></div>
          <div><a href="recordFood.html">식단</a></div>
          <div><a href="recordExercise.html" class="active">운동</a></div>
        </div>
        <div class="content_date">
          <div class="content_date_left">&lt;</div>
          <div class="content_date_text"></div>
          <div class="content_date_right">&gt;</div>
        </div>
        <div class="content_body">
          <div class="content_plan_summary">
            <div class="plan_summary_title">오늘 하루 운동 PLAN</div>
            <div class="plan_summary">
              <div class="plan_summary_item">유산소</div>
              <div class="plan_summary_item">근력</div>
              <div class="plan_summary_item">스트레칭</div>
              <div class="plan_summary_item">요가</div>
            </div>
          </div>
          <div class="detail_title">상세 PLAN</div>
          <div class="content_detail">
            <div class="detail_section">
              <div class="exercise">
                <div class="exercise_type">유산소</div>
                <div class="exercise_items">
                  <!-- 유산소 운동 데이터 -->
                </div>
              </div>
              <div class="exercise">
                <div class="exercise_type">근력운동</div>
                <div class="exercise_items">
                  <!-- 근력 운동 데이터 -->
                </div>
              </div>
              <div class="exercise">
                <div class="exercise_type">스트레칭</div>
                <div class="exercise_items">
                  <!-- 스트레칭 데이터 -->
                </div>
              </div>
              <div class="exercise">
                <div class="exercise_type">요가</div>
                <div class="exercise_items">
                  <!-- 요가 데이터 -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/recordExercise.js"></script>
  </body>
</html>
