<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- css 추가해서 작업 -->
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="top">
        <div class="logo">
          <h1>PTR</h1>
        </div>
        <div class="top_menu">
          <!-- <div><a href="main.html">메인</a></div> -->
          <div><a href="lecture.html">교육</a></div>
          <!-- <div><a href="record.html">관리 및 기록</a></div> -->
          <!-- <div><a href="community.html">커뮤니티</a></div> -->
          <div><a href="feed.html">피드</a></div>
          <div><a href="mypage.html">마이페이지</a></div>
          <div><a href="customerService.html">고객센터</a></div>
          <div><a href="login.html">로그인</a></div>
        </div>
        <!-- <div class="login_box">로그인 / 회원가입</div> -->
      </div>
      <div class="heading">
        <div class="head_title">입력</div>
        <div class="head_subtitle">입력</div>
      </div>      
      <div class="content">
        <div class="content_menu">
          <div>입력</div>
          <div>입력</div>
          <div>입력</div>
        </div>
        <div class="content_body">
          <!-- 여기서 작업해야 함 -->
        </div>
      </div>
    </div>
    <script src="/js/teacher.js"></script>
  </body>
</html>
