.content {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

form h2 {
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 35px;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 60px;
}

form button {
  height: 60px;
  padding: 10px;
  background-color: #2c394a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.social_login {
  text-align: center;
  margin-top: 30px;
}

.social_login p {
  margin: 10px 0;
  font-size: 14px;
  color: #777;
  position: relative;
}

.social_login p::before,
.social_login p::after {
  content: "";
  position: absolute;
  top: 82%;
  width: 30%;
  height: 1px;
  background-color: #ccc;
}

.social_login p::before {
  left: 0;
}

.social_login p::after {
  right: 0;
}

.signup_button {
  width: 100%;
  max-width: 600px;
  height: 60px;
  padding: 10px;
  background-color: #2c394a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.logoutButton {
  width: 100%;
  max-width: 600px;
  height: 60px;
  padding: 10px;
  background-color: #2c394a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.logout_text{
  margin-bottom: 20px;
}

.hidden{
  display: none;
}